.main-product-detail{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.product-detail-title{
font-family: Arial;
}
.product-detail-description{
    font-family: Arial;
    font-size: 20px;
}
.product-detail-price{
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;
    color: green;
}
.plus_and_minus-button{
    font-size: 40px;
    margin:  0 5px;  
    cursor: pointer;
}
.add-to-cart-button{
    margin-top: 25px;
    border: none;
    padding: 10px;
    background-color: rgb(239, 170, 41);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}